export default {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if validMethod(key) %}
  // {{path.operationId}}
  {{path.operationId}}: {{ paramsOutputReducer(path.responses)}}
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}
