import { mockItGenerator } from 'openapi-nodegen-mockers'

class {{ ucFirst(operation_name)}}DomainMock {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if isValidMethod(key) %}
  // Operation ID: {{ path.operationId }}
  async {{ path.operationId }} ({{ pathParamsToDomainParams(path) }}) {
    {{mockOutput( path, mockServer )}}
  }
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}
export default new {{ucFirst(operation_name)}}DomainMock()
