import { mockItGenerator } from 'openapi-nodegen-mockers'

class {{ operation_name | capitalize}}DomainMock {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if isisValidMethod(key) %}
  // Operation ID: {{ path.operationId }}
  async {{ path.operationId }} ({{ pathParamsToDomainParams(path) }}) {
    {{mockOutput( path, mockServer )}}
  }
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}
export default new {{operation_name | capitalize}}DomainMock()
