{% if mockServer %}
import {{ operation_name | capitalize }}DomainMock from './__mocks__/{{ operation_name | capitalize }}DomainMock'
{% endif %}

class {{operation_name | capitalize}}Domain {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if isisValidMethod(key) %}
  // Operation ID: {{ path.operationId }}
  async {{path.operationId}} ({{pathParamsToDomainParams(path)}}) {
    {% if mockServer %}
    return {{ operation_name | capitalize }}DomainMock.{{ path.operationId }}();
    {% else %}
    return {};
    {% endif %}
  }
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}

export default new {{operation_name | capitalize}}Domain()
