{% if mockServer %}
import {{ ucFirst(operation_name) }}DomainMock from './__mocks__/{{ ucFirst(operation_name) }}DomainMock'
{% endif %}

class {{ucFirst(operation_name)}}Domain {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if isValidMethod(key) %}
  // Operation ID: {{ path.operationId }}
  async {{path.operationId}} ({{pathParamsToDomainParams(path)}}) {
    {% if mockServer %}
    return {{ ucFirst(operation_name) }}DomainMock.{{ path.operationId }}();
    {% else %}
    return {};
    {% endif %}
  }
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}

export default new {{ucFirst(operation_name)}}Domain()
