{% set channel = operations[0].channel.publish -%}
import { {{ channel['x-response-definitions'] }} } from '../rabbitMQ/interfaces';

export default async (payload: {{ channel['x-response-definitions'] }}): Promise<void> => {
  // Handle the payload...
}
