{% set interfaces = importInterfaces(operations) %}
{% for interface in interfaces -%}
  import {{ interface }} from '../http/nodegen/interfaces/{{ interface }}';
{%- endfor %}
{% if mockServer %}
import {{ operation_name | capitalize }}DomainMock from './__mocks__/{{ operation_name | capitalize }}DomainMock'
{% endif %}

class {{ operation_name | capitalize }}Domain {
  {% for op in operations -%}
    {% for key, path in op.path -%}
      {% if validMethod(key) %}
  // Operation ID: {{ path.operationId }}
  async {{ path.operationId }} ({{ pathParamsToDomainParams(path, true) }}): Promise<{{ path['x-response-definitions']['200'] if path['x-response-definitions']['200'] else 'any' }}> {
    {% if mockServer %}
    return {{ operation_name | capitalize }}DomainMock.{{ path.operationId }}(
      {% for requestType, value in path['x-request-definitions'] -%}
      {{ requestType }},
      {%- endfor %}
    );
    {% else %}
    return {};
    {% endif %}
  }
      {% endif %}
    {%- endfor %}
  {%- endfor %}
}

export default new {{ operation_name | capitalize }}Domain();
