import express = require('express')
import config from '../../config'
{% for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment -%}
import {{prettifyRouteName(groupName)}}Routes from './routes/{{prettifyRouteName(groupName)}}Routes'
{% endfor -%}
import swaggerRoutes from './routes/swaggerRoutes'

export default function (app: express.Application) {
  {% for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment -%}
    {% if(endsWith(swagger.basePath, '/')) %}
  app.use('{{swagger.basePath}}{{firstUrlSegment}}', {{prettifyRouteName(groupName)}}Routes())
    {% else %}
  app.use('{{swagger.basePath}}/{{firstUrlSegment}}', {{prettifyRouteName(groupName)}}Routes())
    {% endif %}
  {%- endfor %}

  if (config.env === 'develop') {
    {% if(endsWith(swagger.basePath, '/')) %}
    app.use('{{ swagger.basePath }}swagger', swaggerRoutes())
    {% else %}
    app.use('{{ swagger.basePath }}/swagger', swaggerRoutes())
    {% endif %}
  }
}
