import { {% for interface in importInterfaces(operations, ['subscribe']) -%}{{ interface }},{%- endfor %} } from '../generated/interfaces';

class {{ ucFirst(operation_name) }}Domain {
  {% for op in operations -%}
  {% for method, channel in op.channel -%}
  {% if method === 'subscribe' %}
  public async {{ channel.operationId }} (payload: {{ channel['x-response-definitions'] }} ): Promise<void> {
    // Handle the payload...
  }
  {% endif %}
  {% endfor -%}
  {% endfor -%}
}

export default new {{ ucFirst(operation_name) }}Domain();
